.address__container {
  padding: 22px 0 22px 135px;
  height: 80px;
  display: flex;
  align-items: center;
  gap: 0 139px;
  background: #CBFC01;
  .address__container__item {
    display: flex;
    align-items: center;
    gap: 0 10px;
    p {
      color: #000;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
    svg {
      width: 30px !important;
      height: 30px !important;
    }
  }
  .address__container__item:first-child {
    margin: 2px;
    svg {
      margin: 4px 0 0 1px;
    }
  }
  .address__container__item:nth-child(2) {
    margin: 2px 0 0 -16px;
    svg {
      margin: 4px 0 0 1px;
    }
  }
  .address__container__item:last-child {
    margin: 2px 0 0 6px;
    svg {
      margin: 4px 0 0 1px;
    }
  }
  .address__container__item:first-child, .address__container__item:nth-child(2) {
    p {
      width: 170px;
    }
  }

  @media screen and (max-width: 1200px) {
    padding: 22px;
    justify-content: space-between;
    
  }

  @media screen and (max-width: 1024px) {
    padding: 22px 30px;
    height: 216px;
    gap: 30px 0;
    flex-direction: column;
    align-items: flex-start;
    .address__container__item:first-child {
      margin: 0;
      svg {
        margin: 0;
      }
    }
    .address__container__item:nth-child(2) {
      margin: 0;
      svg {
        margin: 0;
      }
    }
    .address__container__item:last-child {
      margin: 0;
      svg {
        margin: 0;
      }
    }
  }

  @media screen and (max-width: 576px) {
    .address__container__item:first-child {
      margin: 0;
      p {
        margin: -4px 0 0 0;
      }
    }
    .address__container__item:nth-child(2) {
      margin: -6px 0 0 0;
    }
    .address__container__item:last-child {
      margin: -3px 0 0 0;
    }
  }
}