.textarea-form__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  label {
    color: white;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 8px;
  }
  textarea {
    padding: 15px 20px 15.38px;
    height: 98px;
    border-radius: 8px;
    border: 1px solid rgba(115, 134, 152, 0.20);
    background: #F6F6F6;

    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    resize: none;
  }
}