.phone-slide__container {
  background: #CBFC01;
  height: 876px;
  position: relative;
  padding: 100px 135px;

  .text__container {
    max-width: 490px;
    width: 100%;
    position: relative;
    z-index: 12;
    .text__container__title {
      margin-bottom: 17px;
      h3 {
        color: #0F0F0F;
        font-feature-settings: 'liga' off, 'clig' off;
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        line-height: 56px;
      }
      p {
        color: #000;
        font-feature-settings: 'liga' off, 'clig' off;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px;
      }
    }
    .text__container__selectSlide {
      .text__container__selectSlide__item {
        padding: 20px 24px;
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        gap: 0 10px;
        border-bottom: 1px solid #000;
        p {
          transition: all 0.2s ease-in-out;
          width: 100%;
          color: black;
          font-feature-settings: 'liga' off, 'clig' off;
          font-size: 24px;
          font-style: normal;
          font-weight: 500;
          line-height: 36px;
        }
        svg {
          width: 18px;
          height: 23px;
        }
      }
    }
    .text__container__selectSlide__item:last-child {
      border-bottom: none;
    }
    .text__container__selectSlide__item:hover {
      cursor: pointer;
      p {
        font-weight: 700;
      }
    }
  }

  .phone-layout {
    position: absolute;
    bottom: 0;
    z-index: 9;
    pointer-events: none;
    object-fit: contain;
    height: 732px;
    left: 54%;
  }
  .prev-arrow {
    position: absolute;
    bottom: 336px;
    left: calc(54% - 110px);
    z-index: 9;
    cursor: pointer;
    width: 60px;
    height: 60px;
  }
  .next-arrow {
    position: absolute;
    bottom: 336px;
    left: calc(54% + 450px);
    z-index: 9;
    cursor: pointer;
    width: 60px;
    height: 60px;
  }

  .phone-slide__container__wrapper {
    height: 800px;
    width: 100%;
    position: absolute;
    bottom: -35px;
    left: 0;
    z-index: 8;
    .swiper {
      width: 100%;
      height: 100%;
      .swiper-wrapper {
        align-items: center;
        padding-left: 190px !important;
      }
    }
    .swiper-slide {
      display: flex;
      justify-content: center;
      align-items: center;
      
      div {
        width: 270px !important;
        height: 500px !important;
        position: relative;
        margin-bottom: -110px;
        img {
          border-radius: 40px;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      div::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #cafc0193;
        border-radius: 40px;
        z-index: 1;
      }
    }
    .swiper-slide.swiper-slide-active {
      width: 372px !important;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 8px 75px 110px 47px !important;
      div {
        width: 372px !important;
        height: 725px !important;
        position: relative;
        img {
          width: 100%;
          height: 725px;
          object-fit: cover;
          border-radius: 60px 60px 0 0;
        }
      }
      div::before {
        content: unset;
      }
    }
  }
  @media screen and (max-width: 1600px) {
    .phone-layout {
      left: 55.4%;
    }
    .prev-arrow {
      bottom: 336px;
      left: calc(55.4% - 110px);
    }
    .next-arrow {
      bottom: 336px;
      left: calc(55.4% + 450px);
    }
  }
  @media screen and (max-width: 1440px) {
    .phone-layout {
      left: 57%;
    }
    .prev-arrow {
      bottom: 336px;
      left: calc(57% - 100px);
    }
    .next-arrow {
      bottom: 336px;
      left: calc(57% + 435px);
    }
  }
  @media screen and (max-width: 1326px) {
    .phone-layout {
      left: 58.5%;
    }
    .prev-arrow {
      bottom: 250px;
      left: calc(58.5% - 100px);
    }
    .next-arrow {
      bottom: 250px;
      left: calc(59% + 435px);
    }
  }
  @media screen and (max-width: 1201px) {
    height: 1200px;
    width: 100vw;
    .text__container {
      max-width: unset;
    }
    .phone-layout {
      height: 700px;
      bottom: 0;
      left: 50%;
      transform: translateX(calc(-25% + 6px));
    }
    .prev-arrow {
      bottom: 336px;
      left: 50%;
      transform: translateX(-28vw);
      width: 60px;
      height: 60px;
      display: none;
    }
    .next-arrow {
      bottom: 336px;
      left: 50%;
      transform: translateX(22vw);
      width: 60px;
      height: 60px;
      display: none;
    }
    .phone-slide__container__wrapper {
      height: 700px;
      width: 100vw !important;
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 8;
      .swiper {
        .swiper-wrapper {
          padding-left: 24px !important;
        }
      }
      .swiper-slide {
        div {
          width: 300px !important;
          height: 60% !important;
          margin-bottom: 0;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
      .swiper-slide.swiper-slide-active {
        width: 353px !important;
        margin: 12px 3% 0 !important;
        div {
          width: 355px !important;
          height: 100% !important;
          img {
            width: 100%;
            height: 700px;
            border-radius: 40px 40px 0 0;
          }
        }
      }
    }
  }
  @media screen and (max-width: 1025px) {
    padding: 100px 50px;
    height: 1200px;
    .phone-layout {
      height: 600px;
      bottom: 0;
      left: 50%;
      transform: translateX(calc(-32% + 9px));
    }
    .phone-slide__container__wrapper {
      height: 600px;
      .swiper {
        .swiper-wrapper {
          padding-left: 0 !important;
        }
      }
      .swiper-slide {
        div {
          width: 300px !important;
          height: 60% !important;
          margin-bottom: 0;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
      .swiper-slide.swiper-slide-active {
        width: 303px !important;
        margin: 12px 30px 0 !important;
        div {
          width: 303px !important;
          height: 100% !important;
          img {
            width: 100%;
            height: 600px;
          }
        }
      }
    }
  }
  @media screen and (max-width: 885px) {
    .phone-layout {
      height: 600px;
      bottom: 0;
      left: 50%;
      transform: translateX(calc(-27% + 10px));
    }
  }
  @media screen and (max-width: 768px) {
    height: 1000px;
    padding: 50px 30px;
    .text__container {
      max-width: unset;
      width: 100%;
      .text__container__title {
        margin-bottom: 20px;
        h3 {
          font-size: 40px;
          line-height: normal;
        }
      }
    }
    .phone-layout {
      height: 500px;
      bottom: 0;
      left: 50%;
      transform: translateX(-45%);
    }
    .phone-slide__container__wrapper {
      height: 500px;
      .swiper-slide {
        div {
          width: 300px !important;
          height: 60% !important;
          margin-bottom: 0;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
      .swiper-slide.swiper-slide-active {
        width: 255px !important;
        margin: 6px 4% 0 !important;
        div {
          width: 255px !important;
          height: 100% !important;
          img {
            width: 100%;
            height: 500px;
          }
        }
      }
    }
  }
  @media screen and (max-width: 675px) {
    .phone-layout {
      transform: translateX(-39%);
    }
  }
  @media screen and (max-width: 576px) {
    height: 1265px;
    padding: 50px 30px;
    .text__container {
      max-width: unset;
      width: 100%;
      .text__container__title {
        margin-bottom: 20px;
        h3 {
          font-size: 40px;
          line-height: normal;
        }
      }
    }
    .phone-layout {
      height: 444px;
      bottom: 0;
      left: 50%;
      transform: translateX(-35%);
    }
    .phone-slide__container__wrapper {
      height: 444px;
      .swiper-slide {
        div {
          width: 300px !important;
          height: 100% !important;
          margin-bottom: 0;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
      .swiper-slide.swiper-slide-active {
        width: 225px !important;
        margin: 3px 5% 0 !important;
        div {
          width: 225px !important;
          img {
            width: 100%;
            height: 444px;
          }
        }
      }
    }
  }
  @media screen and (max-width: 475px) {
    .phone-layout {
      height: 444px;
      bottom: 0;
      left: 50%;
      transform: translateX(-30%);
    }
  }
  @media screen and (max-width: 420px) {
    .phone-layout {
      height: 444px;
      bottom: 0;
      left: 50%;
      transform: translateX(-26%);
    }
  }
  @media screen and (max-width: 375px) {
    .phone-layout {
      height: 444px;
      bottom: 0;
      left: 68px;
    }
  }
}